* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  --primary-color-black: #666;
  --primary-color-white: #fff;
  --accent-color: #fe653d;
  --star-color: #feb33d;
  --padding-medium: 16px;
  --padding-large: 20px;
  --padding-small: 14px;
}
a {
  text-decoration: none;
  color: var(--primary-color);
}
img {
  max-width: 100%;
  height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: var(--primary-color-black);
}
.page {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var();
}

nav {
  /* height: 150px; */
  display: flex;
  /* background-color: var(--accent-color); */
  /* padding: var(--navbar-padding); */
  /* align-items: center; */
  padding-inline: 40px;
  justify-content: space-around;
  border-bottom: 2px solid var(--accent-color);
}
.logo {
  display: inline-block;
  margin-block: 20px;
  max-width: 130px;
}
.navbar-left,
.navbar-right {
  display: flex;
  min-width: max-content;
  width: auto;
}
.navbar-left {
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
.rating-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
.rating-box {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.rating-link {
  color: var(--accent-color);
}
.rating-link:hover {
  text-decoration: underline;
}
.navbar-right {
  flex-direction: column;
}
.star svg {
  fill: var(--star-color);
  width: 18px;
  height: 18px;
}
.star-container {
  display: flex;
}
.info-box {
  display: flex;
  background-color: var(--accent-color);
  /* align-items: center; */
  justify-content: space-around;
  min-height: 40px;
  min-width: 300px;
  padding-inline: 0.5rem;
  padding-block: 0.5rem;
  border-radius: 0.5rem;
  gap: 1rem;
}
.info-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border: 1px solid var(--primary-color-white);
  color: var(--primary-color-white);
  padding: 0.25rem;
  border-radius: 0.25rem;
}
.search-box {
  min-width: 300px;
  background-color: red;
}
.search-label {
  position: relative;
}
.lucide-search-icon {
  position: absolute;
  color: var(--accent-color);
  top: 50%;
  right: 0.5rem;
  transform: translateY(-50%);
  width: 1rem;
  height: 1rem;
}
.search-input {
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.25rem;
  outline: none;
  border: none;
  caret-color: var(--accent-color);
}
.search-input::placeholder {
  color: var(--accent-color);
}
nav svg {
  width: 16px;
  height: 16px;
  fill: var(--primary-color-white);
}
.action-links {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: var(--accent-color);
  font-weight: 700;
}
.hero {
  position: relative;
}
.hero img {
  max-width: none;
  width: 100%;
}
.hero-content {
  display: flex;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-direction: column;
  gap: 1rem;
  justify-content: space-between;
  margin: 15px;
}
.hero-content h1 {
  color: var(--primary-color-white);
  font-size: 3.5rem;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}
.hero-content button {
  border: none;
  background-color: var(--accent-color);
  color: var(--primary-color-white);
  padding: calc((6 / 16) * 1rem) calc((40 / 16) * 1rem);
  border-radius: 0.5rem;
  font-size: 1.5rem;
}

.hero-info {
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, 0%);
  display: flex;
  background-color: var(--primary-color-white);
  border: 2px solid var(--accent-color);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  border-radius: 0.5rem;
}
.hero-info-content {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem 2rem;
  min-width: max-content;
  align-items: center;
}
.hero-info-content h1 {
  font-size: 1.5rem;
  color: var(--accent-color);
  margin: 0;
  /* line-height: 1; */
  /* display: flex; */
  /* align-items: center; */
}

.hero-info-content-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.8rem;
}
.hero-info-content-item svg {
  width: 20px;
  height: 20px;
  stroke: var(--accent-color);
}

.view-tour-link {
  background-color: var(--accent-color);
  color: var(--primary-color-white);
  padding: 0.5rem;
  min-width: max-content;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
}
.tour-type {
  padding: 2rem;
  /* display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; */
}
.tour-type h1 {
  text-align: center;
  color: var(--accent-color);
  margin: 1rem;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
}
.card {
  border-block: 2px solid var(--accent-color);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
}
.card-image {
  position: relative;
}
.bike {
  background-color: var(--accent-color);
  padding: 0.1rem;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  position: absolute;
  left: 50%;
  bottom: 0;
}
.bike svg {
  width: 20px;
  height: 20px;
  stroke: var(--primary-color-white);
}
.card-content {
  padding: 2rem;
}
.card-content h1 {
  font-size: 1.2rem;
  text-align: center;
}
.card-content p {
  font-size: 0.8rem;
  max-width: 25ch;
}
.collection {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.scroller {
  max-width: 800px;
  display: flex;
  overflow-x: auto;
  gap: 1rem;
}
.scroll-content {
  position: relative;
  flex-shrink: 0;
  border-block: 1px solid var(--accent-color);
}
.scroll-content img {
  max-height: 150px;
}
.collection-content {
  background-color: var(--primary-color-white);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 0.5rem;
}
.collection-content p {
  background-image: var(--bg);
  background-size: cover;
  background-position: center;
  background-clip: text;
  color: transparent;
  font-size: 1.35rem;
  text-align: center;
}
.new-and-featured-tour h1 {
  text-align: center;
  margin-block: 1rem;
}
.new-and-featured-tour .card {
  position: relative;
}
.new-and-featured-tour .card .card-content {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}
